
<h3>Artworks</h3>
<% @movement.artworks.each do |artwork| %>
<p><a href='/artworks/<%= artwork.id %>'><%= artwork.name %></a></p>
<%end%>

<h3>Artists</h3>
<% @movement.artists.each do |movement| %>
<p><a href='/movements/<%= movement.slug %>'><%= movement.name %></a></p>
<%end%>
