
<h3>Artworks</h3>
<% @artist.artworks.each do |artwork| %>
<p><a href='/artworks/<%= artwork.id %>'><%= artwork.name %></a></p>
<%end%>

<h3>Movements</h3>
<% @artist.movements.each do |movement| %>
<p><a href='/movements/<%= movement.slug %>'><%= movement.name %></a></p>
<%end%>
