<h1>Add New Artwork to List</h1>
<form action="/artworks" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Medium: <input type="text" name="medium"></p>
  <p>Movement: <input type="text" name="movement"></p>
  <p>Artist Name: <input type="text" name="artist"></p>
  <p><input type="submit" value="submit"></p>
</form>
