<h1>Start your art life list today!</h1>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/signup" method="POST">
<p>Username: <input type="text" name="username" id="username"></p>
<p>Password: <input type="password" name="password" id="password"></p>
<p><input type="submit" value="submit"></p>
</form>
<p><a href="/login">Or login</a></p>
