<h1>Welcome to Art Life List</h1>

<h3>Menu</h3>

<p><a href="/artworks">Your Art Life List</a></p>
<p><a href="/artists">All Artists</a></p>
<p><a href="/movements">All Movements</a></p>
<p><a href="/signup">Sign Up</a></p>
<p><a href="/login">Log in</a></p>
<p><a href="/logout">Log out</a></p>
